* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Serif JP', serif;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  /* background-position: center; */
  margin: 0;
  padding: 0;
  text-align: center;
}

/* フォームラッパー */
.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* フォーム全体 */
.form {
  border-radius: 50%; /*角丸*/
  text-align: center;
  width: 500px;
  height: 500px;
  padding: 50px;
  opacity: 0.9;

  background-blend-mode: hue, color, overlay, screen;
  background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 80% 5%, #aaa5b8 0%, rgb(255 40 184 / 0%) 30%),
    radial-gradient(
      ellipse at bottom left,
      #9addf8 0%,
      rgb(98 190 255 / 31%) 60%
    ),
    linear-gradient(
      135deg,
      rgba(18, 46, 119, 0) 0%,
      rgba(18, 46, 119, 0) 75%,
      #787a83 100%
    ),
    linear-gradient(82deg, #dff7ff 0%, #f6c4ec 27%, #ebfad7 74%, #f5c1c1 100%);
}

/* 徒然映画記のタイトル部分 */
.main_title {
  text-align: center;
  font-weight: bold;
  padding: 20px 0px 10px 0px;
  font-size: 2.7em;
  letter-spacing: 0.3em;
  color: #202122;
}

/* input全体 */
input {
  border: none;
  height: 40px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  opacity: 1;
}

/* select全体 */
select {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: none;
  padding: 10px;
  opacity: 1;
}

/* 各入力欄まとめ */
.content {
  margin: 10px;
  font-size: 25px;
  opacity: 1;
}

.data_text {
  margin-top: 5px;
  font-size: 10px;
}

.sent {
  width: 140px;
  height: 40px;
  border: 5em;
  cursor: pointer;
  background: rgb(44, 42, 42);
  color: aliceblue;
  outline: none;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.conf {
  text-decoration: none;
  transition: all 0.3s;
}

.conf:hover {
  color: #fff;
  background-color: #743565;
}

.sent:hover {
  opacity: 0.6;
}

/* /////////////////
read.php
/////////////////// */

.write_wrapper {
  display: flex;
  width: 100vh;
  flex-wrap: wrap;
  margin: auto;
  background-color: white;
  opacity: 0.7;
  background-blend-mode: hue, color, overlay, screen;
  background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 80% 5%, #aaa5b8 0%, rgb(255 40 184 / 0%) 30%),
    radial-gradient(
      ellipse at bottom left,
      #9addf8 0%,
      rgb(98 190 255 / 31%) 60%
    ),
    linear-gradient(
      135deg,
      rgba(18, 46, 119, 0) 0%,
      rgba(18, 46, 119, 0) 75%,
      #787a83 100%
    ),
    linear-gradient(82deg, #dff7ff 0%, #f6c4ec 27%, #ebfad7 74%, #f5c1c1 100%);
}

.write {
  /* background-color: rgb(243, 227, 227); */
  opacity: 0.9;
  margin: 10px;
  padding: 10px;
  border: #202122;
  width: 300px;
  background-blend-mode: hue, color, overlay, screen;
  background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 80% 5%, #aaa5b8 0%, rgb(255 40 184 / 0%) 30%),
    radial-gradient(
      ellipse at bottom left,
      #9addf8 0%,
      rgb(98 190 255 / 31%) 60%
    ),
    linear-gradient(
      135deg,
      rgba(18, 46, 119, 0) 0%,
      rgba(18, 46, 119, 0) 75%,
      #787a83 100%
    ),
    linear-gradient(82deg, #dff7ff 0%, #f6c4ec 27%, #ebfad7 74%, #f5c1c1 100%);
}

.main_wrapper {
  background-color: #fff;
  opacity: 0.7;
  padding: 25px;
  margin-bottom: 20px;
}

.read_title {
  padding-bottom: -30px;
}

.entry {
  /* position: absolute; */
  /* right: 50%; */
  /* top: 85px; */
  font-size: 1.5em;
  font-weight: bold;
  transition: transform 0.6s ease; /* ゆっくり変化させる */
  /* padding-top: 15px; */
}

a {
  color: rgb(79, 72, 72);
}

.entry:hover {
  color: white;
  transform: scale(1.1); /* 拡大 */
  background-color: #743565;
}
